.App {
  text-align: center;
}

div{
  padding: 10px;
  margin: 20px;
  background-color: rgb(67, 153, 48);
  color: white;
  border: 2px solid rgb(17, 18, 16);
  border-radius: 10px;
  text-align: center;
  justify-content:space-around;
  height: 400px;
  font-weight: 800;
}
button{
  background:rgb(116, 214, 116);
  width: 60px;
  height: 40px;
  border-radius: 5px;
}
button:hover{
  background-color: black;
  color:wheat;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
